.card {
  position: relative;
  border: 2px solid #f3f3f3;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  top: 0px;
  padding: 43px 0 34px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);

  &:hover {
    top: -3px;
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.1);

    .preview {
      transform: scale(1.1) translateX(-5px) translateY(-10px) rotate(-7deg);
    }
  }
}
